# Other
*\#
*~
*.bak
.emacs.deskto*
auto-save-list/**
archive-contents
elpa/*
tramp
bookmarks
projectile-bookmarks.eld
projectile.cache
transient

# Compiled
*.elc

# Packaging
.cask

# temporary/reference
sc.org
init_gen.el
.DS_Store
network-security.data
url/cookies
eln-cache
eshell
tree-sitter
/multisession/
/projects
